body{
    
    background: linear-gradient(rgba(5,7,12, 0.80), rgba(5,7,12,0.80));
    background-image: url(../img/principal.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-image: center center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.navbar-custom{

    background-color: transparent !important;
}

.navbar ul li a {

    text-decoration: none;
    color: white;
    font-family: Roboto, "sans-serif";
    font-size: 1.3rem;
}