.index{
    
    background-image: url(../img/principal.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-image: center center;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.137);  
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    min-height: 100vh;
}
.relo{
    
    background-color: rgb(66, 137, 154);
}
.navbar-custom{

    background-color: transparent !important;

}
.navbar ul li {

    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar a {

    text-decoration: none;
    color: white;
    font-family: Roboto, "sans-serif";
    font-size: 1.2rem;
}

.navbar ul li::before{

    content: "";
    height: 3px;
    width: 0%;
    background: yellowgreen;
    position: absolute;
    left: 0;
    bottom: -12px;
    transition: 0.4s ease-out;
}

.navbar ul li:hover::before{

    width: 100%;

}

.logo {

    position: relative;
    left: 60px;
    top: 40px;
    
}

.login {

    position: relative;
    top: 300px;
    left: 600px;

}

.quienessomos {

    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#donaciones{

    left: 300px;

}
.relo{
  margin: 0;
  padding: 0;
  background: linear-gradient(120deg,#5F7161, #6D8B74); 
  height: 100vh;
  overflow: hidden;
}
.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: white;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}
.center h1{
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid silver;
}
.center form{
  padding: 0 40px;
  box-sizing: border-box;
}
form .txt_field{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
.txt_field input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.txt_field label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}
.txt_field span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2691d9;
  transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -5px;
  color: #2691d9;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
  width: 100%;
}

input[type="submit"]{
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
input[type="submit"]:hover{
  border-color: #2691d9;
  transition: .5s;
}
.pag_registro{
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}
.pag_registro a{
  color: #2691d9;
  text-decoration: none;
}
.pag_registro a:hover{
  text-decoration: underline;
}


.producto{
    
    padding: 0;
    background: linear-gradient(120deg,#5F7161, #6D8B74); 
    height: 100vh;
    overflow: hidden;
}

.carousel-inner {
    top: 200px;
    height: 700px;
    width: 300px;
}

#contacto{

    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.somos{

    background: linear-gradient(120deg,#5F7161, #6D8B74); 
  
}

.footer{

    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.donacion{

    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.registro{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(120deg,#5F7161, #6D8B74); 
  }
.formulario-registro{
    position: relative;
    max-width: 430px;
    width: 100%;
    background: #fff;
    padding: 34px;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.formulario-registro h2{
    position: relative;
    font-size: 22px;
    font-weight: 600;
    color: #333;
}
.formulario-registro h2::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 28px;
    border-radius: 12px;
    background: #4070f4;
}
.formulario-registro form{
    margin-top: 30px;
}
.formulario-registro form .input-box{
    height: 52px;
    margin: 18px 0;
}
form .input-box input{
    height: 100%;
    width: 100%;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-weight: 400;
    color: #333;
    border: 1.5px solid #C7BEBE;
    border-bottom-width: 2.5px;
    border-radius: 6px;
    transition: all 0.3s ease;
}
form .condiciones{
    display: flex;
    align-items: center;
}
form h3{
    color: #707070;
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
}
.input-box.button input{
    color: #fff;
    letter-spacing: 1px;
    border: none;
    background: #4070f4;
    cursor: pointer;
}
.input-box.button input:hover{
    background: #0e4bf1;
}
form .text h3{
   color: #333;
   width: 100%;
   text-align: center;
}
form .text h3 a{
    color: #4070f4;
    text-decoration: none;
}
form .text h3 a:hover{
    text-decoration: underline;
}

label.error{
    color: darkred;
}
